
services:
  db:
    image: postgres:17
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  web:
    build: .
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/.venv
      - static:/app/static
      - media:/app/media
    depends_on:
      db:
        condition: service_healthy
    command: sh -c "uv run python manage.py migrate && uv run python manage.py collectstatic --noinput && uv run gunicorn gigashop.wsgi:application --bind 0.0.0.0:8000 --workers 3"
    

    networks:
      - app-network

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - static:/app/static
      - media:/app/media
    depends_on:
      - web
    networks:
      - app-network

volumes:
  postgres_data:
  static:
  media:

networks:
  app-network:
    driver: bridge